body{
    background-image: url("https://free4kwallpapers.com/uploads/originals/2015/08/09/wallpaper-download-free-stones-texture-black-backg-23053.jpg");
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}
.nav{
    margin-right: 20px;
    float:right;
    margin-top:20px;
}
.nav li{
    display: inline-block;
}

.nav li a{
    text-decoration: none ;
    color:white;
    padding:9px 26px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    height:10px;
    font-weight: bold;
    


}

.nav li a:hover{
opacity:0.8;
color:coral;
} 


