body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRRwG6zE_GdWL0j8JfHB4RrkO9m7ggteM45czo-lNNbgrYIFAva&usqp=CAU");
    background-size: cover ;
    font-family: sans-serif;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}
.login-box{
    position: absolute;
    left:50%;
    top:53%;
    width:410px;
    height: 510px;
    background-color:rgb(97, 4, 163);
    box-sizing:border-box;
    transform: translate(-50%,-50%);
    padding: 80px 40px;
}
.user{
    width:150px;
    height:150px;
    margin-top:-190px;
    border-radius:50%;
    overflow: hidden;
    margin-left: 29%;
    top: calc(-120px/2);
    left:calc(50% - 50px);
}

h2{
    text-align: center;
    padding: 0 0 20px;
    margin:0;
    color:yellow;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color:#fff;
    font-size: 18px;

}

.login-box input{
    width:100%;
    margin-bottom:30.5px;
}

.login-box .req{
    color:darkorange;
    font-size: 20px;
}
.login-box input[type="text"]:hover{
    opacity:0.8;
    color:black;
    background-color:rgb(202, 116, 45);
}
.login-box input[type="password"]:hover{
    opacity:0.8;
    color:black;
    background-color:rgb(202, 116, 45);
}
.login-box .glyphicon.glyhphicon-earphone {
    font-size: 30px;
    border-radius: 50%;
    color:olive;
    overflow:hidden;

  }
.login-box input[type="text"],
.login-box input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline:none;
    height:40px;
    color:#fff;



}

::placeholder{
    color:rgba(255,255,255,.5);
}

.login-box input[type="submit"]{
    background-color:yellowgreen;
  color: white;
  padding: 12px 19px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 19px;
  width: 100%;
  transition: 1s ease;

}
.login-box input[type="submit"]:hover{
-webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}
.login-box input[type="submit"]:hover{
    opacity:0.6;
    color:orangered;
}
.login-box .forget{
    text-align: right;
    font-weight: bold;
    
    padding:12px;
}
.login-box a:hover{
    opacity:0.6;
    color:cornsilk
}
.form-footer div {
    text-align: center;
    padding: 16px 30px;
    font-size: 18px;
    color: #e6e6e6;
  }
  
  .form-footer div a {
    color: #ffb37b;
  }
  .form-footer div a:hover {
    color:lightcoral;
  }
  h2:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
  }
  
